.heading {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px;
}
#about {
  text-align: center;
  padding: 50px;
  background-color: #6e6e6e;
}

.bgwheel {
  background-attachment: fixed;
  background-image: url("../img/ferriswheel.jpeg");

}

#projects {
  padding-top: 50px;
}

.projectItem {
  height: 250px;
}

#contact {
  padding-top: 50px;
  margin-bottom: 200px;
}


button {
  margin-top: 20px;
}

.textLink {
  color: #0645AD;
}

.btn-warning, .btn-warning:hover, .btn-warning:active, .btn-warning:visited {
    background-color: #6e5494 !important;
   border-color: #6e5494 !important; 
}
