:root {
  --light-blue: #3b96d4;
  --gray: #6e6e6e;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  width: 100vw;
  display: grid;
  grid-template-columns: min-content 1fr;
  font-family: 'Lato', sans-serif;
}

a {
    color: var(--light-blue);
    text-decoration: none;
}

header {
  grid-column: 1 / 3;
  background: var(--gray);
  color: white;
  /* padding: 4rem; */
  height: 40vh;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

nav {
  white-space: nowrap;
  background: var(--light-blue);
  /* border-top: 5px solid white; */
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-height: 300px) {
  nav ul {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }
}

nav ul li a {
  display: block;
  padding: 0.5rem 1rem;
  color: white;
  text-decoration: none;
}

nav ul li a.current {
  background: white;
  color: var(--light-blue);
}

main {
  padding-bottom: 30rem;
}

section {
  padding: 2rem;
  margin: 0 0 2rem 0;
}

section h1 {
  font-family: 'Lora', serif;
}

.skill {
  text-align: center;
}

.skill > p {
  padding: .5em;
}

.skill a {
  color: var(--light-blue);
  text-decoration: none;
}

section h3 {
  font-size: 2.5rem;
}

.sub-heading {
    font-size: 1.25rem;
}

.skills-grid {
  display: grid;
  grid-template-columns: 1fr;
}


.project-spotlight {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

.project > img {
    height: 250px;
    width: auto;
}

.contact-list {
  list-style: none;
  font-size: 30px;
}

.contact-list > li {
  padding-top: 5px;
}

.linkedin {
color: #0077B5;
}

.github {
  color: #6E5494;
}

.codepen {
  color: #00ACED;
}

.freecodecamp {
  color: #006400;
}

.email {
  color: var(--gray);
}

footer {
  grid-column: 1 / 3;
  background: #6e6e6e;
  color: white;
  padding: 5rem 1rem;
}

@media (min-width: 600px) {
    .skills-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .project-spotlight {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1em;
    }
}
